@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 80px);
  grid-template-rows: repeat(9, 80px);
  align-items: center;
  justify-content: center;
  border: 5px solid white;
  position: relative;
}

.board-chess {
  display: grid;
  grid-template-columns: repeat(9, 80px);
  grid-template-rows: repeat(10, 80px);
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: -5%;
  left: 0;
  z-index: 999;
}
section.board div.line:nth-child(33) {
  border-left: 1px solid white !important;
}

section.board div.line:nth-child(34) {
  border: none !important;
}

section.board div.line:nth-child(35) {
  border: none !important;
}

section.board div.line:nth-child(36) {
  border: none !important;
}

section.board div.line:nth-child(37) {
  border: none !important;
}

section.board div.line:nth-child(38) {
  border: none !important;
}

section.board div.line:nth-child(39) {
  border: none !important;
}

section.board div.line:nth-child(40) {
  border: none !important;
  border-right: 1px solid white !important;
}

section.board div.line:nth-child(4),
div.line:nth-child(60) {
  position: relative;
  display: inline-block;
}

section.board div.line:nth-child(4)::before,
div.line:nth-child(60)::before {
  content: '';
  position: absolute;
  top: 48%;
  left: -20%;
  width: 110px;
  height: 2px;
  background-color: white;
  transform: rotate(-135deg);
  transform-origin: center;
}

section.board div.line:nth-child(5),
div.line:nth-child(61) {
  position: relative;
  display: inline-block;
}

section.board div.line:nth-child(5)::before,
div.line:nth-child(61)::before {
  content: '';
  position: absolute;
  top: 48%;
  left: -20%;
  width: 110px;
  height: 2px;
  background-color: white;
  transform: rotate(-45deg);
  transform-origin: center;
}

section.board div.line:nth-child(12),
div.line:nth-child(68) {
  position: relative;
  display: inline-block;
}

section.board div.line:nth-child(12)::before,
div.line:nth-child(68)::before {
  content: '';
  position: absolute;
  top: 48%;
  left: -20%;
  width: 110px;
  height: 2px;
  background-color: white;
  transform: rotate(-45deg);
  transform-origin: center;
}


section.board div.line:nth-child(13),
div:nth-child(69) {
  position: relative;
  display: inline-block;
}

section.board div.line:nth-child(13)::before,
div.line:nth-child(69)::before {
  content: '';
  position: absolute;
  top: 48%;
  left: -20%;
  width: 110px;
  height: 2px;
  background-color: white;
  transform: rotate(-135deg);
  transform-origin: center;
}

.chess-piece {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  text-align: center;
  line-height: 55px;
  box-shadow: 2px 2px 2px rgba(212, 201, 201, 0.5);
    transition: all ease-in 0.5;
}


.chess-piece:hover,
.select-chess {
  border: 1px groove white;
  box-shadow: 0px 0px 2px 5px rgba(255, 192, 203, 0.54);
    transform: scale(1.1);

}

.btn-chess {
  border: none;
  color: white;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-select-move {
  position: relative;
}

.active-select-move::before {
  width: 15px;
  height: 15px;
  content: '';
  border-radius: 50%;
  text-align: center;
  line-height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: green;
  z-index: 10;
  display: block;
}

.name-chess {
  font-size: 20px;
}
@media screen and (max-width:768px) {

  section.board div.line:nth-child(4)::before,
  div.line:nth-child(60)::before {
    content: '';
    position: absolute;
    top: 48%;
    left: -20%;
    width: 55px;
    height: 2px;
    background-color: white;
    transform: rotate(-135deg);
    transform-origin: center;
  }

  section.board div.line:nth-child(5),
  div.line:nth-child(61) {
    position: relative;
    display: inline-block;
  }

  section.board div.line:nth-child(5)::before,
  div.line:nth-child(61)::before {
    content: '';
    position: absolute;
    top: 48%;
    left: -20%;
    width: 55px;
    height: 2px;
    background-color: white;
    transform: rotate(-45deg);
    transform-origin: center;
  }

  section.board div.line:nth-child(12),
  div.line:nth-child(68) {
    position: relative;
    display: inline-block;
  }

  section.board div.line:nth-child(12)::before,
  div.line:nth-child(68)::before {
    content: '';
    position: absolute;
    top: 48%;
    left: -20%;
    width: 55px;
    height: 2px;
    background-color: white;
    transform: rotate(-45deg);
    transform-origin: center;
  }


  section.board div.line:nth-child(13),
  div:nth-child(69) {
    position: relative;
    display: inline-block;
  }

  section.board div.line:nth-child(13)::before,
  div.line:nth-child(69)::before {
    content: '';
    position: absolute;
    top: 48%;
    left: -20%;
    width: 55px;
    height: 2px;
    background-color: white;
    transform: rotate(-135deg);
    transform-origin: center;
  }

  .chess-piece {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    box-shadow: 2px 2px 2px rgba(212, 201, 201, 0.5);
    transition: all ease-in 0.5;
  }


  .chess-piece:hover,
  .select-chess {
    border: 1px groove white;
    box-shadow: 0px 0px 2px 5px rgba(255, 192, 203, 0.54);
    transform: scale(1.1);

  }

  .btn-chess {
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .active-select-move {
    position: relative;
  }

  .active-select-move::before {
    width: 10px;
    height: 10px;
    content: '';
    border-radius: 50%;
    text-align: center;
    line-height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: green;
    z-index: 10;
    display: block;
  }

  .name-chess {
    font-size: 10px;
  }

  .board {
    display: grid;
    grid-template-columns: repeat(8, 40px);
    grid-template-rows: repeat(9, 40px);
    align-items: center;
    justify-content: center;
    border: 3px solid white;
    position: relative;
  }

  .board-chess {
    display: grid;
    grid-template-columns: repeat(9, 40px);
    grid-template-rows: repeat(10, 40px);
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: -5%;
    left: 0;
    z-index: 999;
  }

}